<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dự Báo Nhiệt Độ</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Ứng Dụng Thời Tiết</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Dự Báo Mưa</a>
                    </li>
                </ul>
                <button id="dark-mode-btn" class="btn btn-primary" style="border-radius: 60px">
                    <img id="dark-mode-img" src="static/brightness.png" height="30" alt="Chế Độ Sáng">
                </button>
            </div>
        </div>
    </nav>

    <div>
        <center>
            <form method="post" action="{{ url_for('predict_temperature') }}" style="width: 40%">
                <div class="col-auto">
                    <label for="Summary">Tóm Tắt</label>
                    <select class="form-select" id="Summary" name="Summary" required>
                        {% for summary in summaries %}
                            <option value="{{ summary }}">{{ summary }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                    <label for="PrecipType">Loại Mưa</label>
                    <select class="form-select" id="PrecipType" name="PrecipType" required>
                        {% for precip_type in precip_types %}
                            <option value="{{ precip_type }}">{{ precip_type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                    <label for="ApparentTemperature">Nhiệt Độ Thực</label>
                    <input class="form-control" type="text" placeholder="Nhiệt Độ Thực" id="ApparentTemperature" name="ApparentTemperature" required>
                </div>
                <div class="col-auto">
                    <label for="Humidity">Độ Ẩm</label>
                    <input class="form-control" type="text" placeholder="Độ Ẩm" id="Humidity" name="Humidity" required>
                </div>
                <div class="col-auto">
                    <label for="WindSpeed">Tốc Độ Gió</label>
                    <input class="form-control" type="text" placeholder="Tốc Độ Gió" id="WindSpeed" name="WindSpeed" required>
                </div>
                <div class="col-auto">
                    <label for="WindBearing">Hướng Gió</label>
                    <input class="form-control" type="text" placeholder="Hướng Gió" id="WindBearing" name="WindBearing" required>
                </div>
                <div class="col-auto">
                    <label for="Visibility">Tầm Nhìn</label>
                    <input class="form-control" type="text" placeholder="Tầm Nhìn" id="Visibility" name="Visibility" required>
                </div>
                <div class="col-auto">
                    <label for="LoudCover">Bao Phủ Mây</label>
                    <input class="form-control" type="text" placeholder="Bao Phủ Mây" id="LoudCover" name="LoudCover" required>
                </div>
                <div class="col-auto">
                    <label for="Pressure">Áp Suất</label>
                    <input class="form-control" type="text" placeholder="Áp Suất" id="Pressure" name="Pressure" required>
                </div>
                <div class="col-auto">
                    <label for="DailySummary">Tóm Tắt Ngày</label>
                    <select class="form-select" id="DailySummary" name="DailySummary" required>
                        {% for daily_summary in daily_summaries %}
                            <option value="{{ daily_summary }}">{{ daily_summary }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Dự Báo</button>
                </div>
            </form>
        </center>
    </div>
    <center>
        <div>
            {% if result %}
                <h1>Nhiệt Độ Dự Đoán</h1>
                <h2>{{ result|round(2) }}°C</h2>
            {% endif %}
        </div>
    </center>
    

    <script>
        // Nút chuyển chế độ tối
        const darkModeBtn = document.getElementById("dark-mode-btn");
        const darkModeImg = document.getElementById("dark-mode-img");
        darkModeBtn.addEventListener("click", () => {
            const body = document.querySelector("body");
            if (body.getAttribute("data-bs-theme") === "light") {
                body.setAttribute("data-bs-theme", "dark");
                darkModeImg.setAttribute("src", "static/night-mode.png");
            } else {
                body.setAttribute("data-bs
                body.setAttribute("data-bs-theme", "light");
                darkModeImg.setAttribute("src", "static/brightness.png");
            }
        });
    </script>
</body>
</html>
